*
{
Padding:0;
margin:0;
box-sizing: border-box;
}
body
{ 
background-image: url(12.jpg);
background-repeat:no-repeat;
background-size: 100% 100%;
font-family: sans-seif;
}
img{
margin-top:170px;
border-radius:80%;
border: 2px solid transparant;
box-shadow: 2px 3px 3px gray;
transition: all 3s;
border-color:white;
} 
.menu-bar
{
  background: black;
  text-align:right;
}
.menu-bar ul
{
 display: inline-flex;
 list-style:none;
color:white;
}
.menu-bar ul li
{
width: 120px;
margin:8px;
padding:8px;
}
.ankit
{
text-align:left;
margin-right:0;
}
.menu-bar ul li a 
{
text-decoration : none;
color: white;
}
.active, .menu-bar ul li:hover{
color:blue;
border-radius:2px;
}
.menu-bar .fa
{
magin-right:8px;
}
h1:hover{
font-family:sans-serif;
animation-duration: 5s;
animation-delay: 5s;
transform: rotate(360deg);
transition: ease-in-out 2s;
}
h4{
font-family:sans-serif;
}
hr{
width:50%;
}s
